APP_NAME=zep_graph_backend
APP_ENV=development
API_PREFIX=/api
HOST=0.0.0.0
PORT=8000
STORAGE=postgres
PROJECT_STORAGE_CONNECTION_STRING=postgresql://zep_graph:zep_graph_password@localhost:5432/zep_graph
POSTGRES_HOST=postgresql://postgres:postgres@localhost:5432/postgres
POSTGRES_PORT=5434
POSTGRES_DB=zep_graph
POSTGRES_USER=zep_graph
POSTGRES_PASSWORD=zep_graph_password
POSTGRES_URL=localhost:5432/zep_graph
UPLOAD_FOLDER=uploads
LLM_PROVIDER=openai
LLM_API_KEY=
LLM_BASE_URL=https://api.openai.com/v1
LLM_MODEL_NAME=gpt-5.2
LLM_MAX_RETRIES=3
LLM_INITIAL_DELAY_SECONDS=1.0
LLM_MAX_DELAY_SECONDS=30.0
LLM_BACKOFF_FACTOR=2.0
LANGFUSE_SECRET_KEY="sk-lf-8350831e-1b71-4f9f-88db-e4f2026393ca"
LANGFUSE_PUBLIC_KEY="pk-lf-c198c93d-aff8-413d-902f-5193b11b0eec"
LANGFUSE_BASE_URL="http://localhost:3000"

ZEP_BACKEND=zep_cloud
ZEP_API_KEY=

GRAPHITI_EMBEDDING_MODEL=text-embedding-3-small
GRAPHITI_EMBEDDING_API_KEY=
GRAPHITI_EMBEDDING_BASE_URL=https://api.openai.com/v1